html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/static/semantic.min.css")
    link(rel="stylesheet" type="text/css" href="/static/test.css")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script(src="/static/semantic.min.js")
  body
    .main.ui.container
      .ui.vertical.segment
        h1.ui.header=message
      .ui.segment.basic
        .ui.dividing.left.rail
          .ui.vertical.menu
            a.item(href="/matches/new") New Match
            a.item(href="/players/new") New Player
            a.item(href="/games/new") New Game
        each game_stats in games_stats
          .ui.vertical.segment
            h2.ui.header= game_stats.game_name
            table.ui.celled.striped.large.table
              thead
                tr
                  th Player
                  th Elo
                  th Wins
                  th Losses
                  th Draws
                  th Win Percentage
                  th +/-
              tbody
                each player_stat in game_stats.stats
                  tr
                    td=player_stat.player_name
                    td=player_stat.elo
                    td=player_stat.num_wins
                    td=player_stat.num_losses
                    td=player_stat.num_draws
                    td=player_stat.win_percentage
                    td=player_stat.plusminus