html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/static/semantic.min.css")
    link(rel="stylesheet" type="text/css" href="/static/test.css")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script (src="/static/semantic.min.js")
  body
    .main.ui.container
      h1.ui.dividing.header=message
      .vertical.segment
        each game_stats in games_stats
          h2.ui.header= game_stats.game
          table.ui.celled.collapsing.striped.large.table
            thead
              tr
                th Player
                th Elo
                th Wins
                th Losses
                th Draws
                th Win Percentage
                th +/-
            tbody
              each player_stat in game_stats.stats
                tr
                  td=player_stat.player
                  td=player_stat.elo
                  td=player_stat.num_wins
                  td=player_stat.num_losses
                  td=player_stat.num_draws
                  td=player_stat.win_percentage
                  td=player_stat.plusminus